// Bootstrap body padding for fixed navbar
body { 
  padding-top: 60px;
}
html { direction: ltr}


/*
 * footer directive   
 */
footer {
  margin:5em 0;
  li {
    .float-left();
    .margin-right(1.5em);
    margin-bottom:1.5em;
  }
  
  p {
    .clear-left();
    margin-bottom:0
  }
}

/*
 * track
 */
.angular-google-map-container { 
  height: 600px; 
}


/*
 * http://getbootstrap.com/assets/css/docs.css
 */
.show-grid {
  margin-bottom: 15px;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

/*
 * Animation
 */
.repeat-animation.ng-enter, 
.repeat-animation.ng-leave, 
.repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.repeat-animation.ng-enter {
  bottom:-20px;
  opacity:0;
}
.repeat-animation.ng-enter.ng-enter-active {
  bottom:0;
  opacity:1;
}

.repeat-animation.ng-leave {
  bottom:0;
  opacity:1;
}
.repeat-animation.ng-leave.ng-leave-active {
  bottom:-20px;
  opacity:0;
}

.repeat-animation.ng-move {
  opacity:0.5;
}
.repeat-animation.ng-move.ng-move-active {
  opacity:1;
}