/*
 * Margins
 */
.margin-right(...) when (@direction = 'rtl') {
  margin-left: @arguments;
}
.margin-right(...) when (default()) {
  margin-right: @arguments;
}

.margin-left(...) when (@direction = 'rtl') {
  margin-right: @arguments;
}
.margin-left(...) when (default()) {
  margin-left: @arguments;
}

/*
 * Paddings
 */
.padding-right(...) when (@direction = 'rtl') {
  padding-left: @arguments;
}
.padding-right(...) when (default()) {
  padding-right: @arguments;
}

.padding-left(...) when (@direction = 'rtl') {
  padding-right: @arguments;
}
.padding-left(...) when (default()) {
  padding-left: @arguments;
}

/*
 * Floats
 */
.float-left(...) when (@direction = 'rtl') {
  float: right;
}
.float-left(...) when (default()) {
  float: left;
}

.float-right(...) when (@direction = 'rtl') {
  float: left;
}
.float-right(...) when (default()) {
  float: right;
}

.float-left-important(...) when (@direction = 'rtl') {
  float: right!important;
}
.float-left-important(...) when (default()) {
  float: left!important;
}

.float-right-important(...) when (@direction = 'rtl') {
  float: left!important;
}
.float-right-important(...) when (default()) {
  float: right!important;
}

/*
 * Right/Left
 */
.left(...) when (@direction = 'rtl') {
  right: @arguments;
}
.left(...) when (default()) {
  left: @arguments;
}

.right(...) when (@direction = 'rtl') {
  left: @arguments;
}
.right(...) when (default()) {
  right: @arguments;
}

/*
 * Border Top Radius
 */
.border-top-right-radius(...) when (@direction = 'rtl') {
  border-top-left-radius: @arguments;
}
.border-top-right-radius(...) when (default()) {
  border-top-right-radius: @arguments;
}

.border-top-left-radius(...) when (@direction = 'rtl') {
  border-top-right-radius: @arguments;
}
.border-top-left-radius(...) when (default()) {
  border-top-left-radius: @arguments;
}

/*
 * Border Bottom Radius
 */
.border-bottom-right-radius(...) when (@direction = 'rtl') {
  border-bottom-left-radius: @arguments;
}
.border-bottom-right-radius(...) when (default()) {
  border-bottom-right-radius: @arguments;
}

.border-bottom-left-radius(...) when (@direction = 'rtl') {
  border-bottom-right-radius: @arguments;
}
.border-bottom-left-radius(...) when (default()) {
  border-bottom-left-radius: @arguments;
}

/*
 * Borders
 */
.border-left(...) when (@direction = 'rtl') {
  border-right: @arguments;
}
.border-left(...) when (default()) {
  border-left: @arguments;
}

.border-right(...) when (@direction = 'rtl') {
  border-left: @arguments;
}
.border-right(...) when (default()) {
  border-right: @arguments;
}

.border-left-color(...) when (@direction = 'rtl') {
  border-right-color: @arguments;
}
.border-left-color(...) when (default()) {
  border-left-color: @arguments;
}

/*
 * Text Align
 */
.text-align-left(...) when (@direction = 'rtl') {
  text-align: right;
}
.text-align-left(...) when (default()) {
  text-align: left;
}

.text-align-right(...) when (@direction = 'rtl') {
  text-align: left;
}
.text-align-right(...) when (default()) {
  text-align: right;
}

/*
 * Clear
 */
.clear-left(...) when (@direction = 'rtl') {
  clear: right;
}
.clear-left(...) when (default()) {
  clear: left;
}

.clear-right(...) when (@direction = 'rtl') {
  clear: left;
}
.clear-right(...) when (default()) {
  clear: right;
}