<footer>
	<div class="row">
		<div class="col-md-12">
			<p>
				Sample Application {{appNameAr}} - Created by <a href="mailto:nadersoliman@gmail.com">nadersoliman@gmail.com</a>
			</p>
		</div>
	</div>
</footer>

