<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a ng-href="{{Config.getRelativeRoot()}}" class="navbar-brand">{{appName}}</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Theme {{currentTheme}}<span class="caret"></span></a>
					<ul class="dropdown-menu" aria-labelledby="download">
						<li ng-repeat="theme in themes">
							<a href="" ng-click="changeTheme(theme)" ng-hide="theme == currentTheme">{{theme}}</a>
						</li>
					</ul>
				</li>
			</ul>

		</div>
	</div>
</div>
