<ul class="list-group">
	<li class="list-group-item">
		<form class="form-inline" role="form" ng-submit="insertAddress()">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Add New Address" ng-model="address" required name="address">
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="!address || !map">
				Add
			</button>
		</form>
	</li>
	<li class="list-group-item repeat-animation" ng-animate="'animate'" ng-repeat="address in listAddresses()" >
		{{address.address}} <span class="glyphicon glyphicon-remove-circle" style="cursor: pointer" ng-click="removeAddress(address)"></span>
	</li>
</ul>
<alert ng-show="alert" class="alert alert-danger">{{alert}}</alert>
